---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Body from '../components/Body.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<Body />
		<main>
			<h1>🐈‍⬛ Hey there!</h1>
			<p>
				Vana katu is a surreal story-driven game that uses puzzle-solving, 
				turn based battling, and open world navigation to help 
				'Van Cat track down his evil uncle and put an end to 
				his nefarious plans!
			</p>
		</main>
		<Footer />
	</body>
</html>
