<a href="https://store.steampowered.com/app/2967590/Vanakatu/">
	<h3>Get from Steam!</h3>
</a>

<style>
	a {
		display: flex;
		align-items: center;
		width: fit-content;
        text-decoration: solid;
		margin: auto;
		font-size: 1em;
        text-transform: uppercase;
		font-family: 'Roboto Mono Variable', monospace;
	}

	a:hover,

	a:focus {
		transform: scale(105%);
	}

</style>
