<a href="https://store.steampowered.com">
	<h3>Wishlist on Steam!</h3>
</a>

<style>
	a {
		color: #554e4e;
		border-radius: 20px;
		display: flex;
		align-items: center;
		width: fit-content;
        text-decoration: solid;
		margin: auto;
		font-size: 1em;
        text-transform: uppercase;
		font-family: 'Roboto Mono Variable', monospace;
	}

	a:hover,

	a:focus {
		box-shadow: 0 0 16px 0 #8ed62944;
	}

	img {
		height: 1.25em;
		margin-right: 0.75em;
		width: auto;
	}
</style>
